

body {
  background-color: white;
  color: black;
  font-family: System;
  text-align: center;
}

#navbar a {
  margin: auto 30px;
}

.emailme {
  color: black;
  width: 100px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 12px;
  background-image: url("../media/email.png");
  background-size: contain;
  background-color: white;
  z-index: 3;
  }


h1 {
  font-size: 16px;
  z-index: 4;
  }


  
img {
  width: 450px;
  height: 450px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  }
  
.textbox {
  color: black;
  width: 210px;
  height: 100px;
  position: fixed;
  top: 90px;
  right: 20px;
  padding: 10px 10px 1px 10px;
  text-align: center;
  font-size: 11px;
  background-color: lightgrey;
  z-index: 3;
  }